<ion-header>
  <ion-toolbar>

    <ion-buttons slot="start">
      <ion-menu-button menu="first"></ion-menu-button>
    </ion-buttons>

   
    <!-- Esta es una forma de agregar un boton de menu-->
    <!-- <ion-buttons slot="start">
      <ion-button (click)="abrirMenu()" slot="start" >
        <ion-icon slot="icon-only" name="menu-outline"></ion-icon>
      </ion-button>
    </ion-buttons> -->
    


    <ion-title color="primary">Natatorio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

</ion-content>
