<app-header nombre="Generar Carnets" ></app-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row [class]="fondo">
      <ion-col size="4">
        <div>
          <webcam [height]="300" 
                  [width]="300" 
                  [trigger]="triggerObservable"
                      (imageCapture)="handleImage($event)">
           </webcam>
            
          <ion-button class="actionBtn" (click)="triggerSnapshot();">
              Tomar Foto</ion-button>
          
          
        </div>

      </ion-col>
      <ion-col size="8">

        <form (ngSubmit)="guardar(formulario)" #formulario="ngForm"  *ngIf="noHayTitular">
        
                
        <ion-row class="custom-bg">
          <ion-col>
            
              <ion-list>
                
                <ion-item >
                  <ion-label>Nro de Afiliado</ion-label>
                  <ion-input name="nroAfiliado"
                            required
                            type="number"
                            [(ngModel)]="titular.nroAfiliado"
                             ></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label>Dni</ion-label>
                  <ion-input name="dni"
                              required
                             type="number"
                             [(ngModel)]="titular.dni"
                             ></ion-input>
                </ion-item>

               <ion-item>
                   
                      
                        <ion-label>Empresa</ion-label>
                        <ion-select [(ngModel)]="titular.nroEmpresa"  [ngModelOptions]="{standalone: true}" placeholder="Seleccione una">
                          <ion-select-option *ngFor="let empresa of listaEmpresas" value="{{empresa.nroEmpresa}}">{{empresa.razonSocial}}</ion-select-option>
                          
                        </ion-select>
                      
                  </ion-item>

                  <ion-item>
                    <ion-label>Apellido</ion-label>
                    <ion-input name="apellido"
                               type="text"
                               required
                               [(ngModel)]="titular.apellido"
                               ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Nombre</ion-label>
                    <ion-input name="nombre"
                               type="text"
                               required
                               [(ngModel)]="titular.nombre"
                               ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Fecha de Nacimiento</ion-label>
                    <ion-input name="fechaNacimiento"
                               type="date"
                               required
                               [(ngModel)]="titular.fechaNacimiento"
                               ></ion-input>
                  </ion-item>

                  <ion-item *ngIf="webcamImage">
                    <ion-thumbnail slot="start">
                      <ion-img [src]="webcamImage.imageAsDataUrl"></ion-img>
                    </ion-thumbnail>
                    <ion-label>Foto Actual</ion-label>
                  </ion-item>

                  
  
              </ion-list>
          </ion-col>
        </ion-row>
      
      
        

        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button type="submit"
                        color="tertiary"
                        shape="round">
            Registrar Titular
          </ion-button>
        </ion-col>
      </ion-row>

   
    </form>
    <form (ngSubmit)="guardarFamiliar(familiarForm)" #familiarForm="ngForm"  *ngIf="noHayFamiliar">
        
                
      <ion-row class="custom-bg-familiar">
        <ion-col>
          
            <ion-list>
              
              <ion-item >
                <ion-label>Nro de Afiliado</ion-label>
                <ion-input name="nroAfiliadoFamiliar"
                          required
                          type="number"
                          [(ngModel)]="familiar.nroAfiliado"
                           ></ion-input>
              </ion-item>

              <ion-item>
                <ion-label>Dni</ion-label>
                <ion-input name="dniFamiliar"
                            required
                           type="number"
                           [(ngModel)]="familiar.dni"
                           ></ion-input>
              </ion-item>

             
                <ion-item>
                  <ion-label>Apellido</ion-label>
                  <ion-input name="apellidoFamiliar"
                             type="text"
                             required
                             [(ngModel)]="familiar.apellido"
                             ></ion-input>
                </ion-item>
                <ion-item>
                  <ion-label>Nombre</ion-label>
                  <ion-input name="nombreFamiliar"
                             type="text"
                             required
                             [(ngModel)]="familiar.nombre"
                             ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Fecha de Nacimiento</ion-label>
                  <ion-input name="fechaNacimientoFamiliar"
                             type="date"
                             required
                             [(ngModel)]="familiar.fechaNacimiento"
                             ></ion-input>
                </ion-item>

                <ion-item>
                  <ion-label>Parentesco</ion-label>
                  <ion-input name="parentescoFamiliar"
                             type="text"
                             required
                             [(ngModel)]="familiar.parentesco"
                             ></ion-input>
                </ion-item>

                <ion-item *ngIf="webcamImage">
                  <ion-thumbnail slot="start">
                    <ion-img [src]="webcamImage.imageAsDataUrl"></ion-img>
                  </ion-thumbnail>
                  <ion-label>Foto Actual</ion-label>
                </ion-item>

                

            </ion-list>
        </ion-col>
      </ion-row>
    
    
      

      <ion-row>
        <ion-col class="ion-text-center">
          <ion-button type="submit"
                      color="tertiary"
                      shape="round">
          Registrar Familiar
        </ion-button>
      </ion-col>
    </ion-row>

 
  </form>
      </ion-col>
    </ion-row>
   <ion-row>
    <ion-col>
      <ion-button expand="block" (click)="limpiarCampos()"
      color="tertiary"
      shape="round">
Nuevo Titular
</ion-button>
    </ion-col>
   </ion-row>
  </ion-grid>
  <ion-grid fixed>
    <ion-row class="custom-bg-cards">
      <ion-col size="4">
        <ion-card *ngFor ="let titular of lista">
          <img [src]="titular.fotoMostrar" />
          <ion-card-header>
            <ion-card-subtitle>{{titular.apellido}}, {{titular.nombre}}</ion-card-subtitle>
            <ion-card-title>{{titular.nroAfiliado}} (Titular)</ion-card-title>
           
          </ion-card-header>
          <ion-card-content>
            <p>Dni: {{titular.dni}}</p>
            <p>Fecha de Nacimiento: {{titular.fechaNacimiento}}</p>
            <p>Empresa: {{titular.nroEmpresa}}</p>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="custom-bg-cards">
      <ion-col size="4">
        <ion-card *ngFor ="let familiar of listaFamiliares">
          <img [src]="familiar.fotoMostrar" />
          <ion-card-header>
            <ion-card-subtitle>{{familiar.apellido}}, {{familiar.nombre}}</ion-card-subtitle>
            <ion-card-title>{{familiar.nroAfiliado}} ({{familiar.parentesco}})</ion-card-title>
           
          </ion-card-header>
          <ion-card-content>
            <p>Dni: {{familiar.dni}}</p>
            <p>Fecha de Nacimiento: {{familiar.fechaNacimiento}}</p>
            
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
        

      </ion-content>
