.actionBtn {
    margin-top: 5px;
    margin-bottom: 2px;
    font-size: 1.2em;
  }
  
  .snapshot {
    text-align: center;
    img {
      max-width: 800px;
      max-height: 800px;
    }
  }
  
  ul.links {
    padding-bottom: 20px;
  }

  .custom-bg{
    background: rgb(69, 136, 69);
}

.custom-bg-familiar{
  background: rgb(248, 252, 3);
}
.custom-bg-cards{
  background: rgb(175, 103, 21);
}