<app-header nombre="Generar Carnets" ></app-header>

<ion-content class="ion-padding">
  <ion-grid fixed>
    <ion-row>
      <ion-col size="4">
        <div>
          <webcam [height]="300" 
                  [width]="300" 
                  [trigger]="triggerObservable"
                      (imageCapture)="handleImage($event)">
           </webcam>
            
          <button class="actionBtn" (click)="triggerSnapshot();">
              Click Here and take the Shot</button>
            
          <div class="snapshot" *ngIf="webcamImage">
            <h2>Here is your image!</h2>
            <img [src]="webcamImage.imageAsDataUrl"/>
          </div>
        </div>
      </ion-col>
      <ion-col size="8">

        <form (ngSubmit)="guardar(formulario)" #formulario="ngForm" >
        
                
        <ion-row>
          <ion-col>
            
              <ion-list>
                
                <ion-item>
                  <ion-label>Nro de Afiliado</ion-label>
                  <ion-input name="nroAfiliado"
                            required
                            type="number"
                            [(ngModel)]="titular.nroAfiliado"
                             ></ion-input>
                </ion-item>
  
                <ion-item>
                  <ion-label>Dni</ion-label>
                  <ion-input name="dni"
                             type="number"
                             [(ngModel)]="titular.dni"
                             ></ion-input>
                </ion-item>

                <ion-item>
                    <ion-label>Nro de Empresa</ion-label>
                    <ion-input name="nroEmpresa"
                               type="number"
                               [(ngModel)]="titular.nroEmpresa"
                               ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Apellido</ion-label>
                    <ion-input name="apellido"
                               type="text"
                               [(ngModel)]="titular.apellido"
                               ></ion-input>
                  </ion-item>
                  <ion-item>
                    <ion-label>Nombre</ion-label>
                    <ion-input name="nombre"
                               type="text"
                               [(ngModel)]="titular.nombre"
                               ></ion-input>
                  </ion-item>

                  <ion-item>
                    <ion-label>Fecha de Nacimiento</ion-label>
                    <ion-input name="fechaNacimiento"
                               type="date"
                               [(ngModel)]="titular.fechaNacimiento"
                               ></ion-input>
                  </ion-item>

                  
  
              </ion-list>
          </ion-col>
        </ion-row>
        
        <ion-row>
          <ion-col class="ion-text-center">
            <ion-button type="submit"
                        color="tertiary"
                        shape="round">
            Registrar
          </ion-button>
        </ion-col>
      </ion-row>
   
    </form>

      </ion-col>
    </ion-row>
  </ion-grid>
        

      </ion-content>
